body{
  margin: 0;
  padding: 0;
}

.title_header {
  color : red;
}

.instructions {
  margin: 0;
  width: 50%;
  float: left;
}

.title {
  border: 10px;
  margin-top: 50px;
}

.paypal {
  font-size: medium;
}

* {
  font-family: "Georgia", Times, serif;
}

.text_over {
  background-color: linear-gradient(rgba(0,0,0,0,.5),rgba(0,0,0,0.5));
  background-image: url('raspberrypired.jpg');
  height: 1000px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: large;
}

.small_img {
  width: 50%;
  height: 100px;
  float: left;
}

.small_p {
  width: 50%;
  height: 100px;
  float: right;
}
