h1 {
  color : red;
}

.instructions {
  margin: 0;
  width: 50%;
  float: left;
}

.title {
  border: 10px;
  margin-top: 50px;
}

.paypal {
  font-size: medium;
}

* {
  font-family: "Georgia", Times, serif;
}

.text_over {
  background-color: lightgrey; 
  width: 25%;
  position: absoloute;
  z-index: 9999;
}

.raspberrypired {
  position: relative;
  width:100%;
  margin: 0;
}

.back_img {
  z-index: 1;
  display: block;
}
  
